.front-main-btn {
    display: inline-block;
    background: transparent;
    border: .2rem solid #fff;
    margin-top: 1.5rem;
    animation: ButtonAppear 1.8s ease-in;
    font-size: 1.6rem;

    &:hover {

        transition: .2s;
        box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.308);
    
    }
    
    &:link,
    &:hover,
    &:visited {
        text-decoration: none;
        color: #fff;
        padding: 1rem;
    }
}


.btn {

    border: .3rem solid rgb(50, 50, 54);
    font-size: 1.6rem;
    font-family: $main-font;
    padding:1rem;

    &:hover {

        background-color: teal;
        color:#fff;
        border: .3rem solid white;
    }
    
    &:link,
    &:hover,
    &:visited {
        text-decoration: none;

    }

    &-block{
        display: block;
        width:90%;
        margin: 0 auto;
    }
}