.front-main-btn {
    display: inline-block;
    background: transparent;
    border: .2rem solid #fff;
    margin-top: 1.5rem;
    animation: ButtonAppear 1.8s ease-in;
    font-size: 1.6rem;

    &:hover {

        transition: .2s;
        box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.308);
    
    }
    
    &:link,
    &:hover,
    &:visited {
        text-decoration: none;
        color: #fff;
        padding: 1rem;
    }
}

