 body
 {
   font-family: Arial, helvetica;
 }


 #main-navigation a[class="nav-link"]:link,#main-navigation a[class="nav-link"]:visited,#main-navigation a[class="nav-link"]:hover
 {
   color:white;
   font-weight:bold;
 }

  #main-header
 {
   height:100vh;
   color: white;
   background:linear-gradient(rgba(0,0,0,.8), rgba(50, 40, 40, 0.5)),url("../../images/main-bg.jpg") center;
   overflow: hidden;
 }
 
 #hero
 {
   display:flex;
   height:100vh;
   align-items: center;
   justify-content:center;

 }
 /*-- Targeting mobile devices ---*/

 @media (max-width : 480px) {
 .mob-top-menu
 {
  font-family: 'Quattrocento', serif;
 }

  .hero-inner
  {
    display:flex;
    text-align:left;
    align-items:center;
    justify-content:center;
    min-height:300px;
  }
  
  .main-text{
    text-align: center; 
    margin-bottom:20px;
    font-family: 'Cinzel', serif;
  }

  .hero-inner p
  {
    font-family: 'Quattrocento', serif;
    margin-bottom:0;
  }
  
  .cust-btn-main
  {
    margin-top:20px;
  }

 }

 /* -- Targeting larger screen-sizes */

.hero-inner
 {
   display:flex;
   text-align:center;
   align-items:center;
   justify-content:center;
   min-height:300px;
 }

 


