//SCSS variables 
$main-font: 'Quattrocento',
serif;
$heading-font:'Cinzel',
serif;

// Header gradient colors
$header-gradient-primary: #212f3cce;
$header-gradient-secondary: #739191af;

//Grid Specifications
$grid-width:114rem;
$gutter-vertical:2rem;
$gutter-horizontal:4rem;
